{{!-- File Taken from Group Project 2 --}}

<div class="mb-5 pt-3">
    <h2 class="title pb-4">My blogs<i class="fa fa-thin fa-seedling"></i></h2>
    {{#if blogs.length}}
</div>

{{#each blogs as |blog|}}
    <div>
        {{> blog-info blog}}
        <a href="/dashboard/edit/{{blog.id}}"><button class="button mb-5 ml-5 is-warning">edit blog</button></a>
    </div>
{{/each}}

{{else}}
<h6 class="pb-4 has-text-centered is-italic">you do not currently have any blogs</h6>

{{/if}}
