{{!-- File Taken From Group Project 2 --}}
<div class="d-flex justify-content-center blog-container">

  {{#each blogs as |blog|}}

  {{> blog-info blog }}
</div>

{{else}}
  <h6 class="pb-4 has-text-centered is-italic">No blogs have been made!!!</h6>
{{/each}}
